.main {
}

.body{
    
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;

}

.welcome {
  display: grid;
  grid-template-columns: 1fr repeat(2, 250px) 1fr;

  background-image: url("images/1616422589_36-p-zheltii-fon-36.jpg");
  background-size: cover;

  grid-template-rows: 140px;

  height: 50vh;
}

header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 20px;
}
nav {
  height: 100%;
}
#logo {
  height: 100%;
}
.menu {
  height: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu li {
  margin: 0 25px;
  font-size: larger;
  text-shadow: 0 0 5px black;
}

.baner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/-2;
}

.sale{
    display: grid;
    grid-template-columns: 1fr repeat(2, 250px) 1fr;
  
}

.discl{
    grid-column: 2 / -2;
 
}

.items{
    margin: 20px 0;
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

.item{
display: flex;
align-items: center;
flex-direction: column;
}



.item img{
width: 100%;
}

.item img:hover{
    transition: transform 0.6s;
  transform: scale(1.05);
    }

.item a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5%;
    width: 50%;
    padding: 2px;
    text-align: center;
}

.item a:hover{
    color: black;
    background-color: rgb(176, 172, 207);
}